body{
    font-family: 'Roboto', sans-serif; 
    /* color: rgb(77, 77, 77);    */
    color: white;
    margin: 0;
   
}

body *{
    margin: 0;
    padding: 0;
    border: 0;
}

span{
    font-family: 'Lobster', cursive;

}

.nombre{
    font-size: 70px;
    font-weight: 400;
    text-align: center;
}

.barra{
  
    border: solid #dfab00 2px;
}
.btn{
    color: white;
}
.btn-outline-light{
    color: white;
}



/*NAAVBAR*/
.navbar{
    box-shadow: 2px 2px 5px #999;

}
.navbar-titulo{
    font-size: 2rem;
    color: white;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.logo-pau{
    width: 150px;
}

/*NAVBAR*/

/*HEADER*/
.modal-header{
    color:rgba(218, 0, 73, 0.9) !important;
    font-family: 'Lobster', cursive;
    color: rgb(77, 77, 77);

}

.modal-body{
    color: rgb(77, 77, 77);
}


.encabezado{
    width: 100%;
    background-color: #daa520;
    vertical-align: middle;
}

.titulo_header{
    font-weight: 700;
    font-size: 4rem;
}

.subtitulo_header{
    font-weight: 700;
    font-size: 1.6rem;
}

.texto{

    padding-top: 100px;
    padding-bottom: 30px;
    vertical-align: auto;
}

.titulo_header{
    font-weight: 700;
    font-size: 3.3rem;
    text-align: center;
    
}

.subtitulo_header{
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
}

.foto-pau{
    width: 90%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    vertical-align: auto;
}


/*HEADER*/

/*EXPERIENCIA*/
.caja-slider {
    align-items: center;
    display: flex;
    height: 300px;
    justify-content: center;
    margin-top: 20px;
  }
  
  @-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }


  .slider {
    background: transparent;
    height: 300px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
    padding-top: 50px;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
    margin-top: 30px;
  }
  .slider .slide {
    height: 100px;
    width: 250px;
  }



.modal-content{
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover; 
   
}
#Experiencia{
    margin-top: 50px;
}

.fas{
    color:rgba(218, 0, 73, 0.9) !important;
}

h3{
    color:rgba(218, 0, 73, 0.9) !important;
    font-family: 'Lobster', cursive;
}

.texto-experiencia{
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    color: rgb(77, 77, 77);
}

.titulo-exp{
    font-family: 'Roboto', sans-serif; 
    font-weight: 700;
}


.titulo_h_e{
    padding-top: 150px;
    color: rgb(77, 77, 77);
    font-size: 4rem;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;

}
.uno{
    width: 40%;
    display: inline-block;
    height: 100px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
}
.dos{
    width: 40%;
    display: inline-block;
    height: 100px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
}
.tres{
    width: 40%;
    display: inline-block;
    height: 100px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
}
.cuatro{
    width: 40%;
    display: inline-block;
    height: 100px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
}
/*EXPERIENCIA*/

/*PORTAFOLIO*/
#portfolio{
    margin-top: 50px;
    background-color: goldenrod;
}

.text-port{
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
    font-weight: 700;
    font-size: 40px;
}

#portfolio .container-fluid {
    max-width: 1920px;
  
}
  
#portfolio .container-fluid .portfolio-box {
    position: relative;
    display: block;
}
  
#portfolio .container-fluid .portfolio-box .portfolio-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(218, 0, 73, 0.9);
    transition: opacity 0.25s ease;
    text-align: center;
}
  
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
}
  
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name {
    font-size: 1.2rem;
}
  
#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.foto-coffee{
    width: 100%;
    height:300px;
}

.foto-ricomida{
    width: 100%;
    height:300px;
}

.foto-cupon{
    width: 100%;
    height:300px;
}

.foto-iguana{
    width: 100%;
    height:300px;
}

.foto-suricata{
    width: 100%;
    height:300px;
    background-color: #E83E8C;
}

.foto-tarjetas{
    width: 100%;
    height:300px;
}
/*PORTAFOLIO*/


/*CARRUSEL*/

.color-hab{
    background-color:goldenrod;
    width: 100%;
    height: 150px;
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
   
}

.text-hab{
    font-weight: 700;
    font-size: 40px;
}



 img.img-responsive{
    width: 100px;
    display: inline-block;
}

.d-block{
    width: 80px;
    height: auto;
}

.carousel-inner{
    color: white;
    padding-top: 20px;
   
}


.carousel-indicators{
    bottom: -70px;
    margin-bottom: 1rem;
}

.carousel-indicators li{ 
    border-radius: 50%;
    height: 10pt;
    width: 10pt;
}

.carrusel-row{
    padding-left: 30%;
    padding-top: 20px;
}


.carrusel{
    width: 100%;
    background-color: goldenrod;
    height: 300px;
}

.carousel-item{
    background-color: yellowgreen;
    height: 200px;
    text-align: center;
    display: inline-block;
}
    


.adobe{
    background-color: blueviolet;
    height: 200px;
} 

/*CARRUSEL*/


/*CONTACTO*/
.Contacto{
   margin-top: 0;
   margin-bottom: 0;
    color: rgb(77, 77, 77) ;
}

.color-Cont{
    background-color: #E83E8C;
    width: 100%;
    height: 150px;
}

.text-Cont{
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
    font-weight: 700;
    font-size: 40px;
}

/*CONTACTO*/


/*FOOTER*/
.i{
    color: white !important;
    background-color: white !important;
}
.footer{
    text-align: center;
    height: 100px;
   
}

footer i { 
    margin-left: 10px;
    padding-top: 20px;
  }

  .footer a{
    color: #ffffff;
    text-decoration: none;
  }
  .small{
    color: white !important;
  }
  .footer{
      margin-top: 0;
      background-color: #E83E8C !important;
      color: white !important;
      
  }

/*FOOTER*/







