.navbar-titulo{
    font-family: 'Oleo Script', cursive;
    font-size: 2rem;
    color: white;
}

.texto{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: white;
    opacity: 0.8;
}
.titulo_header{

    color: black;

}

.subtitulo_header{

    color: black;
}

.encabezado{
    background-image: url(../img/foto4.jpg);
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
}

#Experiencia{
    margin-top: 50px;
    color: rgb(77, 77, 77);
}

.info{
    margin-bottom: 50px;
}
#Portafolio{
    color: rgb(77, 77, 77);
    margin-bottom: 50px;
}

#Contacto{
    color: rgb(77, 77, 77);
    margin-bottom: 50px;
}

.footer{
    text-align: center;
    
}
 footer i {
  
    margin-bottom: 30px;
    margin-left: 10px;
    padding-top: 20px;
  }
  .footer a{
    color: #ffffff;
    text-decoration: none;
  }
  /*
  
  footer h3{
    color: white;
    font-weight: lighter;
    font-size: 12px;
    padding-bottom: 30px;
    margin-bottom: 0;
  }
  
  .footer-negro {
    background: #000f08;
    color: #ffffff;
  }
  

  
  footer {
    padding: 50px;
    margin-top: 50px;
  }
 */
